@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    font-family: 'Nunito Sans', 'JetBrains Mono', sans-serif;
    text-transform: capitalize;
}

:root {
    --main-color: #FF5C8D;
    --background-color: #ebeef0;
    --lighte-color: #5a5a5a;
    --black: #03045E;
    --product-box-shadow: box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-padding-top: 5rem;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    z-index: 1000;
    background: #fff;
}

section {
    padding: 2rem 9%;
}

footer {
    background: var(--background-color);
    margin-top: 3rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    margin-top: 1rem;
    background: var(--black);
    color: #fff;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sub-heding {
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
}

.heding {
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--main-color);
    letter-spacing: .1rem;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

header .logo i {
    color: var(--main-color);
}

header .nav a {
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    color: var(--lighte-color);
    transition: all .2s ease-in-out;
}

header .nav a.active,
header .nav a:hover {
    color: #fff;
    background: var(--main-color);
}

header .icons i {
    font-size: 1.7rem;
    margin-left: .5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background: var(--background-color);
    color: var(--black);
    transition: all .2s ease-in-out;
}

header .icons i:hover {
    background: var(--main-color);
    color: #fff;
}

header .icons i#menu-bar {
    display: none;
}

header .icons #cart-icon,
header .icons #like-icon {
    position: relative;
}

header .icons #cart-icon::after {
    content: attr(cuontre);
    position: absolute;
    top: -15%;
    right: -20%;
    height: 2rem;
    width: 2rem;
    background: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
    padding: .2rem;
    display: none;
}

header .icons #like-icon::after {
    content: attr(cuontre);
    position: absolute;
    top: -15%;
    right: -20%;
    height: 2rem;
    width: 2rem;
    background: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
    padding: .2rem;
    display: none;
}

.search-box,
.shoping-cart-box {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1007;
    padding: 0 1rem;
    transition: all 0.2s ease-in-out;
}

.search-box.active,
.shoping-cart-box.active {
    top: 0;
}

#search-in {
    width: 50rem;
    text-transform: none;
    padding: 1rem 0;
    border-bottom: .1rem solid #fff;
    font-size: 3rem;
    background: transparent;
    color: #fff;
}

#search-in::placeholder {
    color: #9d9d9d
}

.search-box label {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.search-box label:hover {
    color: var(--main-color);
}

.search-box #close-search,
#close-cart {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #fff;
    font-size: 5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.search-box #close-search:hover,
#close-cart:hover {
    color: var(--main-color);
}

.shoping-cart-box {
    top: -110%;
    padding: 7rem;
    flex-direction: row;
}

.in-carts {
    flex-basis: 70%;
    background: #fff;
    height: 100%;
    padding: 5rem;
    border-radius: 1rem 0 0 1rem;
    overflow-y: scroll;
}

.in-carts .in-cart {
    width: 100%;
}

.in-carts .in-cart .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-cart .info img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
}

.in-cart .info .price,
.total-price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

.in-cart .info .cuonter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-cart .info .cuonter span {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 4.5rem;
    color: var(--black);
}

.in-cart .info .cuonter i {
    font-size: 1.5rem;
    color: #9d9d9d;
    cursor: pointer;
}

.in-cart .info #delet-prd {
    font-size: 2rem;
    color: var(--lighte-color);
    cursor: pointer;
}

.in-cart .name {
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
    font-weight: bold;
}

.in-cart .descreption {
    font-size: 1.4rem;
    color: var(--lighte-color);
}

.shoping-cart-box hr {
    width: 100%;
    height: 1px;
    background: rgb(189, 189, 189);
    margin: 2.5rem 0;
    border-radius: 5rem;
}

.pay-cart {
    flex-basis: 30%;
    background: var(--main-color);
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    padding: 2rem 5rem;
    text-align: center;
}

.pay-cart hr {
    height: .3rem;
    background: #fff;
}

.pay-cart div {
    font-size: 2rem;
    color: #fff;
    margin: 4rem 0;
}

.pay-cart p {
    font-size: 1.5rem;
    color: var(--lighte-color);
}

.pay-cart button {
    background: #fff;
    color: #0E3EDA;
    margin: 4rem 0;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.pay-cart button:hover {
    letter-spacing: .1rem;
    background: var(--lighte-color);
}

#home .buner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

#home .buner .content {
    flex: 1 1 45rem;
}

#home .buner .img-container {
    flex: 1 1 45rem;
}

#home .buner .img-container img {
    width: 100%;
}

#home .buner .content span {
    font-size: 2.5rem;
    color: var(--main-color);
}


#home .buner .content h2,
#home .buner .content h2 span {
    font-size: 7rem;
    color: var(--black);
}

#home .buner .content h2 span {
    border-right: .1rem solid var(--black);
}

#home .buner .content p {
    font-size: 2.2rem;
    color: var(--lighte-color);
    padding: .5rem 0;
}

#dishes .box-container,
#menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.box-container .box {
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box .fa-heart {
    position: absolute;
    top: 1.5rem;
    left: -15rem;
    color: var(--black);
    background: var(--background-color);
    font-size: 2rem;
    line-height: 5rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.box .fa-heart:hover {
    background: var(--main-color);
    color: #fff;
}

.box:hover .fa-heart {
    left: 1.5rem;
}


.box-container .box img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 1rem 0;
}

.box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.box-container .box .stars {
    padding: 1rem;
}

.box-container .box .stars i {
    font-size: 1.7rem;
}

.box-container .box span {
    font-size: 2.5rem;
    margin: 1rem;
    color: var(--main-color);
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    display: block;
}

footer div {
    line-height: 1.6;
}

footer div div {
    font-size: 1.6rem;
    color: var(--lighte-color);
    cursor: pointer;
}




































@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .icons i#menu-bar {
        display: inline-block;
    }

    header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: #fff;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .nav a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--background-color);
    }

    .search-box #search-in {
        width: 90%;
        margin: 0 1rem;
    }

    #home .buner .content h2,
    #home .buner .content h2 span {
        font-size: 5rem;
    }
}